 :root {
     --app-height: 100vh;
     --primary-color: #c00000;
     --secondary-color: #525252;
     --tertiary-color: rgb(132, 134, 124);
     --soft-color: #f2f2f2;
     --color2: #FBFEF9;
     --color3: #85877C;
     --color4: #0a090C;
     --color5: #07393C;
     --color6: #e9e2eec9;
     --bs-primary: #7e569b;
 }

 :root,
 [data-bs-theme=light] {
     --bs-primary: #9a43d8c9;
 }

 body {
     font-family: "Poppins", sans-serif;
 }

 .calendar {

     margin: 0;
     table-layout: fixed;

 }


 .calendar th {
     text-align: center;
 }

 .calendarCard {
     height: 75px !important;
     max-height: 75px !important;
     min-height: 75px !important;
     overflow: scroll;
 }

 .calendar ul {
     list-style-type: none;
 }

 /* .calendar td div {
     width: 150px;
     height: 150px;

 } */


 .mainContent {
     height: calc(100vh - 56px);
     background-color: var(--soft-color);
 }


 .sidebar {
     width: 280px;
     height: 100vh;
     background-color: #002642;
     -moz-box-shadow: 3px 0 5px 0 #5555556b;
     -webkit-box-shadow: 3px 0 5px 0 #5555556b;
     box-shadow: 3px 0 5px 0 #5555556b;

 }